.Rproj.user
.Rhistory
.RData
figures/
teaching_materials/install_r_guide_cache/
teaching_materials/install_r_guide_files/
teaching_materials/install_r_guide.pdf
teaching_materials/install_r_guide.Rmd

